*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: white;
    text-rendering: optimizeLegibility;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.nav-section{
    position: relative;
    height: 10rem;
    background-color: #1DA1F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
    font-weight: 300;
}

.nav-section__nav-links{
    list-style-type: none;
    display: block;
}

.nav-section__nav-links--link{
    display: inline;
}

.nav-section__nav-links--link a{
    text-decoration-line: none;
    margin-right: 5rem;
    font-size: 2.2rem;
    color: white;
} 


.nav-section__nav-links--link a:hover{
    border-bottom: 3px solid darkblue;
    padding-bottom: 3px;
}
.nav-section__nav-logo{
    font-size: 2.8rem;
    text-shadow: 3px 4px 10px black;
}

.nav-section__nav-logo h1{
    display: inline-block;
    font-weight: 300;
}

.nav-section__nav-logo h3{
    display: inline-block;
    font-weight: 600;
    color: darkblue;
    text-transform: uppercase;
}

.fab{
    margin: 0.4rem;
    font-size: 1.8rem;
}
.fab:hover{
    cursor: pointer;
    
}

.hamburger{
    display: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%,  -50%);
    cursor: pointer;
}

.line{
    width: 4rem;
    height: 0.3rem;
    margin: 0.7rem;
    background-color: white;
}

.drop-down-section{
    position: absolute;
    background-color: #1DA1F2;
    height: auto;
    width: 100%;
    top: -20rem;
    left: 0;
    transition: all 0.7s ease-in-out;
    opacity: 0;
    padding-left: 3rem;
}

.drop-down-section__nav-links{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 2rem;
}

.drop-down-section__nav-links--link a{
    display: block;
    text-decoration-line: none;
    color: white;
}

.drop-down-section__nav-links--link a:hover{
    border-bottom: 2px solid darkblue;
    padding-bottom: 0.3rem;
}

@media screen and (max-width: 1100px){
    .nav-section__nav-links{
        display: none;
    }

    .nav-section__nav-icons{
        display: none;
    }

    .hamburger{
        display: block;
        transition: all 0.2s ease-in-out;
    }

    .hamburger:hover{
        transform: rotate(90deg) translate(-30%);
        transition: all 0.2s ease-in-out;
    }

    .nav-section__nav-logo{
        margin-right: auto;
        padding-left: 3rem;
    }

    .toggle-menu{
        top: 10rem;
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }

}