body{
    color: rgba(192, 192, 192, 0.438);
    background-color: black;
    font-size: 1.6rem;
}


.primary-heading{
    font-size: 5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 6rem;
}