.board{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-content: center;

    &__square{
        font-weight: 700;
        font-size: 5.6rem;
        text-align: center;
        //padding: 2rem;
        height: 90px;
        width: 90px;
        border: 3px solid black;
        //transition: all 0.2s ease-in;
        color:silver;

        &:hover{
            //transition: all 0.2s ease-in;
            background-color: rgba(0, 0, 0, 0.493);
            cursor: pointer;
        }

        &--1, &--2, &--3{
            border-top: none;
        }

        &--1, &--4, &--7{
            border-left: none;
        }

        &--3, &--6, &--9{
            border-right: none;
        }

        &--7, &--8, &--9{
            border-bottom: none;
        }
    }


}


.not-allowed:hover{
    //transition: all 0.2s ease-in;
    background-color: rgb(223, 106, 106);
    cursor: pointer;
}