#winning-message-block{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    //transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}


#winning-message{
    color: black;
    background-color: rgb(148, 144, 144);
    box-shadow: 5px 5px 20px black;
    text-align: center;
    width: 50%;
    margin: 15rem auto 0 auto;
    height: 50%;
    font-size: 5rem;
    letter-spacing: 1rem;
    padding-top: 8rem;
}