*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    color: black;
    background: white;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
}


.game-section{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    background: white;
    width: 114rem;
    height: 90vh;
    &__heading{
        text-align: center;
        font-size: 4rem;
        letter-spacing: 1rem;
        margin-bottom: 4rem;
    }

    &__canvas{
        background: black;
        border-radius: 2.5rem;
    }
}